aenum==3.1.15
ast_decompiler==0.7.0
asynq==1.5.1
codemod==1.0.0
Cython==3.0.0
debugpy==1.6.7
diskcache==5.6.1
epc==0.0.5
importlib-resources==6.0.0
importmagic==0.1.7
iniconfig==2.0.0
mypy==1.3.0
mypy-extensions==1.0.0
networkx==3.1
packaging==23.1
pluggy==1.2.0
pyanalyze==0.10.1
Pygments==2.15.1
pytest==7.3.1
qcore==1.10.0
sexpdata==1.0.1
tomli==2.0.1
typeshed-client==2.3.0
typing-inspect==0.9.0
typing_extensions==4.7.1
